@model IEnumerable<TravelExperts_CPRG214_Final_JayGervais.Models.Package>

@{
    ViewBag.Title = "Packages";
}

<h2>Travel Packages</h2>
<!--
Travel Packages page by Jay Gervais
-->

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-6 col-sm-12">

            <div class="card">
                <img class="card-img-top" src="~/Images/@Html.DisplayFor(modelItem => item.PkgImage)" alt="@Html.DisplayFor(modelItem => item.PkgImage)" />
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.PkgName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.PkgBasePrice)</p>
                    <p class="card-text dates"><strong>@Html.DisplayNameFor(model => model.PkgStartDate):</strong> @Html.DisplayFor(modelItem => item.PkgStartDate)</p>
                    <p class="card-text dates"><strong>@Html.DisplayNameFor(model => model.PkgEndDate):</strong> @Html.DisplayFor(modelItem => item.PkgEndDate)</p>
                    <a href="#" class="btn btn-primary">Add Package</a>
                </div>
            </div>

        </div>
    }
</div>

